html{
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid rgb(0, 0, 0);
}

.topnav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    overflow: hidden;
}

td:hover{
    background-color: green;
    color: yellow;
}

td{
    /* border: 1px solid black; */
    text-align: center;
    padding: 15px;
    font-size: 1.5em;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
}
.topnav img{
    border: 1px solid white;
    margin-left: 80%;
    height: 50px;
    width: 50px;
}

a{
    color: inherit;
    text-decoration: none;
}

.content{
    /* position: inherit; */
    margin-top: 100px;
}